#page-report-ausinet #page-content #region-main {
	padding-left: 0;
	padding-right: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview .main-block .nav-tabs {
	background: #1b68b3;
	padding: 3px;
}
#page-report-ausinet #page-content .statics-block .reports-overview .main-block .nav-tabs .nav-link {
	color: #fff;
	font-size: 18px;
	padding: 7px 25px;
	border: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview .main-block .nav-tabs .nav-link.active {
	background: rgba(255, 255, 255, .5);
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane:before {
	display: none;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content {
	border: 1px solid #ccc;
	border-top: 0;
	padding: 10px;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane {
	margin-top: 10px;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .user-detail {
	display: inline-block;
	margin: 0 20px 20px 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .user-detail .username a {
	display: inline-block;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .user-detail .username a img {
	max-width: 40px;
	width: 100%;
	height: auto;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .user-block {
	display: inline-block;
	vertical-align: top;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .user-block span {
	font-weight: bold;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .user-data {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 20px 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .user-data .access-data label {
	font-weight: bold;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .user-data .access-data .first-login label {
	margin-bottom: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane h5 {
	color: #1b68b3;
	font-size: 18px;
	text-transform: capitalize;
	padding: 10px;
	background: #f4f4f4;
	border: 1px solid #ccc;
	margin-bottom: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block {
	padding: 10px;
	border: 1px solid #ccc;
	border-top: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .nav-tabs {
	background: #1b68b3;
	border: 0;
	padding: 3px;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .nav-tabs .nav-link {
	color: #fff;
	border: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .nav-tabs .nav-link.active {
	background: #f77a18;
	margin-bottom: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .tab-content {
	padding: 15px 15px 10px 15px;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .tab-content .status-block {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .tab-content .status-block:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .tab-content .status-block span:last-child {
	font-weight: bold;
	float: right;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_length {
	display: inline-block;
	margin-right: 15px;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_filter {
	display: inline-block;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_paginate .paginate_button {
	width: 30px;
	height: 30px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	margin-right: 2px;
	cursor: pointer;
	background: #1b68b3;
	display: inline-block;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #f9520b;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
	text-indent: -999em;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
	content: '\f104';
	width: 100%;
	height: 100%;
	font-family: fontawesome;
	text-indent: 0;
	float: left;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_paginate .paginate_button.next {
	text-indent: -999em;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .element-block .dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
	content: '\f105';
	width: 100%;
	height: 100%;
	font-family: fontawesome;
	text-indent: 0;
	float: left;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .report-element {
	margin-bottom: 30px;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_length {
	display: inline-block;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_length select {
	margin: 0 5px;	
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_filter {
	margin-bottom: 10px;
	float: right;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_filter input[type="search"] {
	height: 35px;
	border: 1px solid #ccc;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_wrapper .dataTables_paginate .paginate_button {
	width: 25px;
	height: 25px;
	color: #fff;
	line-height: 25px;
	text-indent: -999em;
	text-align: center;
	background: #1b68b3;
	display: inline-block;
	cursor: pointer;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #f9520b;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_wrapper .dataTables_paginate .paginate_button.current {
	text-indent: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
	content: '\f104';
	width: 100%;
	height: 100%;
	font-family: fontawesome;
	font-style: normal;
	color: #fff;
	text-indent: 0;
	float: left;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
	content: '\f105';
	font-family: fontawesome;
	font-style: normal;
	width: 100%;
	height: 100%;
	color: #fff;
	text-indent: 0;
	float: left;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_wrapper .dataTables_paginate .paginate_button.next {

}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element .dataTables_wrapper .dataTables_paginate .paginate_button {
	margin: 0 5px;
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element ul {
	border: 1px solid #ccc;
	border-top: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .report-element ul {
	display: flex;
	padding-left: 0;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .report-element ul li {
	width: 100%;
	text-align: center;
	list-style: none; 
}
#page-report-ausinet #page-content .statics-block .reports-overview>.tab-content .tab-pane .report-element ul li a {
	font-size: 24px;
	font-weight: bold;
}
#page-report-ausinet #page-content .statics-block .reports-overview > .tab-content .tab-pane .report-element ul li a span {
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
	display: block;
}
