<div class="available-course">
    <div class="coursebox">
        <div class="title-block">
            <div class="title">
                <h5>{{#str}} coursename, theme_ausinet {{/str}}</h5>
            </div>
            <div class="title category">
                <h5>{{#str}} category, core {{/str}}</h5>
            </div>
           <!--  <div class="title">
                <h5>{{#str}} resources, core {{/str}}</h5>
            </div> 
            <div class="title">
                <h5>{{#str}} cost, enrol_paypal {{/str}}</h5>
            </div>-->
            <div class="title" style="float:right;">
                <h5>{{#str}} options, core {{/str}}</h5>
            </div>
        </div>

        {{#courses}}
            <div class="course-block" id="{{shortname}}" >
                <div class="course-title">
                    <div class="courseimage">
                        <img src="{{imgurl}}">
                    </div>
                    <div class="info">
                        <h5>{{{coursename}}}</h5>
                        <!-- <span>{{{category}}}</span> -->
                    </div>
                </div>
                <div class="category-title">                    
                    <div class="category-name">                       
                        <span>{{{category}}}</span>
                    </div>
                </div>
                {{#optionsblock}}
                <div class="options-block">
                    <div class="report-block">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="badge-block">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="info-block">
                        <i class="fa fa-info-circle"></i>
                    </div>
                </div>
                {{/optionsblock}}
                {{^optionsblock}}
                <div class="options-block">
                <a class="btn btn-primary" href="{{link}}">{{#str}} view, core {{/str}}</a>
                </div>
                
                {{/optionsblock}}
            </div>
        {{/courses}}
    </div>
</div>