{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/full_header

    This template renders the header.

    Example context (json):
    {
        "contextheader": "context_header_html",
        "settingsmenu": "settings_html",
        "hasnavbar": false,
        "navbar": "navbar_if_available",
        "courseheader": "course_header_html"
    }
}}
<header id="page-header" class="row">
    <div class="col-12 pt-3 pb-3">
        <div class="card {{^contextheader}}border-0 bg-transparent{{/contextheader}}">
            <div class="card-body {{^contextheader}}p-2{{/contextheader}}">
                <div class="d-flex align-items-center">
                    {{#contextheader}}
                    <div class="mr-auto">
                        {{{contextheader}}}
                    </div>
                    {{/contextheader}}

                    {{#settingsmenu}}
                    <div class="context-header-settings-menu">
                        {{{settingsmenu}}}
                    </div>
                    {{/settingsmenu}}
                    <div class="header-actions-container flex-shrink-0" data-region="header-actions-container">
                        {{#headeractions}}
                            <div class="header-action ml-2">{{{.}}}</div>
                        {{/headeractions}}
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                    {{/hasnavbar}}
                    <div class="ml-auto d-flex">
                        {{{pageheadingbutton}}}
                    </div>
                    <div id="course-header">
                        {{{courseheader}}}
                    </div>
                </div>
                <button type="button" class="btn" id="quiz-nav"></button>
                <input type="hidden" name="reportqno" id="reportqno">
            </div>
        </div>
    </div>
</header>
{{#js}}
require(['jquery'], function($) {

	var x = getCookie('quiz_nav_state');
	
	var btattempt = $(".btattempt").html();
	$(".quizsummaryofattempt").before('<div class="submitbtns btattempt mdl-align">'+btattempt+'</div>');
	var btnsubmitall = $(".submit-actions").html();
	$(".quizsummaryofattempt").before('<div class="submit-actions">'+btnsubmitall+'</div>');
	
	
	if(x == "on"){
		show_nav();
	}
	else{
		var y = $(location).attr('href'); 
		var att = y.search("attempt.php");
		if(att>0){
			hide_nav();
		}
	}
	
	var url = window.location.href;
	var checkreview = url.search("review.php");
	if(checkreview > 0){
		$("#region-main.has-blocks").addClass("reviewpage");
		console.log("Review page");
	}
	else{
		$("#region-main.has-blocks").removeClass("reviewpage");
		console.log("Not review page");
	}

	function setCookie(cname, cvalue, exdays) {
	  var d = new Date();
	  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
	  var expires = "expires="+d.toUTCString();
	  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}
	
	function getCookie(cname) {
		var name = cname + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var ca = decodedCookie.split(';');
		for(var i = 0; i <ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
	
	function hide_nav(){
		$('#quiz-nav').removeClass('show');
        $('#region-main').removeClass('show');
        $("#block-region-side-pre").parent('section').removeClass('show');
        $("#mod_quiz_navblock").css('opacity','0');
        $("#mod_quiz_navblock").css('display','none');
	}
	
	function show_nav(){
		$('#quiz-nav').addClass('show');      
        $('#region-main').addClass('show');  
        $("#block-region-side-pre").parent('section').addClass('show');
		$("#mod_quiz_navblock").css('opacity','1');
        $("#mod_quiz_navblock").css('display','block');
	}
    
    $('#quiz-nav').click(function() {
        if ($("#block-region-side-pre").parent('section').hasClass('show')) {
            hide_nav();
			setCookie('quiz_nav_state', '', -1);
			setCookie('quiz_nav_state', 'off', 365);
        } else {
            show_nav();
			setCookie('quiz_nav_state', '', -1);
			setCookie('quiz_nav_state', 'on', 365);
        }
    })
	
	$(".reportquestion").click(function(){
		var qno = $(this).attr("id");
		$("#reportqno").val(qno);
	})
	// Added by Rudra
	$(".infoquestion1").click(function(){
		var qno1 = $(this).attr("id");
		$("#2-modal-title").html('Question '+qno1);
		var info_html=$("#info_"+qno1).html();
		$("#info_box").html(info_html);
		$("#2-modal-title").html('Question '+qno1);
		
	})
	// EOF Rudra
	$("body").on("change", ".quiz-declaration #declaration", function(e) {
		$(".qd_errmsg").empty();
        if ($(this).is(":checked")) {
            $(".confirmation-buttons input[type=button]").show();	
        } else {
            $(".confirmation-buttons input[type=button]").hide();
			$(".qd_errmsg").text("You must tick the box to proceed");
        }
    })
	
})
{{/js}}